body{

    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    color: #40514e;
}


h1{
    /* width: 20%; */
    margin: 50px auto 0 auto;
    display: absolute;
    font-family: 'Sacramento', cursive;
    font-size: 5.63rem;
    line-height: 2;
    
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem; 
    /* font-size: 80px; */
    font-weight: normal;
    color: #11999E;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #0b6669;
   
}
hr{
    border: dotted #043a3a 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}
a{
    color: #0d8286;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 10px;
    text-decoration: none;
}

a:hover{
    color: #Eaf6f6
}
p{
    line-height: 2;
}

.top{
    background-color: #9AD0EC;
    padding-top: 100px;
    position: relative;
    color: #265050;
    
}
.middle{
    /* height: 200px;
    width: 200px;
    background-color: red; */
    margin: 100px 0;
}
.bottom{
    background-color: #66bfbf;
    padding: 50px 0 20px;
}

.copyright{
    color:#787e7e;
    font-size: 0.75rem;
    
}
.cloud1{
    position: absolute;
    right: 25%;
    top: 10%
    
}
.cloud2{
    position: absolute;
    left:25%;
    bottom: 40%;
}

.cctvimg{
    float: right;
    margin-left: 30px;
}

.compHardimg{
    float:left;
    margin-right: 30px;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.intro{
    width: 30%;
    margin: auto;
}

.networkingimg{
    float: left;
    margin-right: 30px;
}


.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}

.skill{
    width: 20%;
    /* float: left;
    margin-right: 30px; */
} 



.webDevimg{
    float:right;
    margin-left: 30px;
}
    

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #30e3cb;
    /* background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4a);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4a);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4a);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4a);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4a);
    text-decoration: none; */
  } 